{% extends 'base.html.twig' %}

{% block title %}Neighborhood index{% endblock %}

{% block body %}
    <h1>Neighborhood index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                 <th>City</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for neighborhood in neighborhoods %}
            <tr>
                <td>{{ neighborhood.id }}</td>
                <td>{{ neighborhood.name }}</td>
                <td>{{ neighborhood.city }}</td>
                <td>
                    <a href="{{ path('neighborhood_show', {'id': neighborhood.id}) }}">show</a>
                    <a href="{{ path('neighborhood_edit', {'id': neighborhood.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('neighborhood_new') }}">Create new</a>
{% endblock %}
